.sidebar {
  position: relative;
  float: left;
  width: 314px;
  border-radius: 5px;
  background-color: #302c2c;

  .cont {
    width: 314px;
    height: auto;
    margin: 0 auto;
    padding: 0 0 30px;

    form {
      position: relative;
      padding: 0 24px;

      input[type='text'] {
        font-size: 14px;
        font-weight: 300;
        width: 265px;
        height: 36px;
        margin: 17px 0 0 0;
        transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        color: rgba(255, 255, 255, 1);
        border: none;
        border-bottom: 2px solid #464242;
        background-color: transparent;

        &::-webkit-input-placeholder {
          transition: opacity 0.2s ease;
          -webkit-transition: opacity 0.2s ease;
        }

        &::-moz-placeholder,
        &:-moz-placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
          opacity: 0.7;
          color: #ffffff;
        }

        &:hover::-webkit-input-placeholder,
        &:hover:-ms-input-placeholder {
          opacity: 1;
        }

        &:focus::-webkit-input-placeholder,
        &:focus::-moz-placeholder,
        &:focus:-moz-placeholder,
        &:focus:-ms-input-placeholder {
          opacity: 0;
        }

        &:focus {
          border-color: #524428;

          & + input[type='button'],
          & + input[type='submit'] {
            background: url('./search_active.png');
          }
        }
      }

      input[type='button'], input[type='submit'] {
        position: absolute;
        top: 22px;
        right: 24px;
        width: 21px;
        height: 21px;
        opacity: 0.7;
        border: none;
        background-color: transparent;
        background-image: url('./search.png');

        &:hover {
          opacity: 1;
        }
      }
    }

    .criteria {
      padding: 0 24px;

      &.active,
      &:hover {
        .tit {
          color: #ffd940;
        }
      }

      .tit {
        font-size: 14px;
        padding: 12px 0;
        color: #ffd940;
      }

      .btn {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 2px 8px;
        cursor: pointer;
        transition: 0.1s all;
        -webkit-transition: 0.1s all;
        color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.75);
        border-radius: 50px;
        font-size: 13px;

        &:not(:last-child) {
          margin-right: 9px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
          border: 1px solid #ffd940;
        }

        &.active {
          color: #ffd940;
          border-color: #ffd940;
        }
      }

      &.time {
        .btn {
          &.btn-icon-time {
            &:after {
              content: "";
              display: inline-block;
              vertical-align: top;
              margin: 2px 0 0 5px;
              width: 13px;
              height: 13px;
              background: url('./filter-icon.png') 0 0 no-repeat;

            }

            &.active {
              &:after {
                background-position: 0 -13px;
              }
            }
          }
        }
      }
    }
  }

  .up {
    cursor: pointer;
    font-size: 25px;
    z-index: 10;
    position: absolute;
    display: block;
    bottom: -75px;
    width: 314px;
    height: 55px;
    padding: 7px 0 0 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffd940;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: #ffd940;
    }

    &.stack {
      visibility: visible;
      top: 15px;
      position: fixed;
      opacity: 1;
    }
  }
}
