.right_content {
  margin: 0 0 0 345px;

  .sortby {
    font-size: 14px;
    margin: 0 0 22px 20px;
    color: #ffffff;

    span {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    .button {
      cursor: pointer;
      font-weight: 300;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0 0 0 18px;
      text-decoration: none;
      color: #ffffff;

      &.price {
        background: url('./images/sortby.png') no-repeat 0 50%;

        &:hover {
          background: url('./images/sortby_hover.png') no-repeat 0 50%;
        }
      }

      &.sale {
        background: url('./images/sortbysale.png') no-repeat 0 50%;

        &:hover {
          background: url('./images/sortbysale_hover.png') no-repeat 0 50%;
        }
      }

      img {
        margin: -2px 0 0 0;
        vertical-align: middle;
      }

      &:hover {
        color: #ffd940;
      }
    }
  }

  .quests {
    text-align: justify;
    position: relative;

    &:after {
      display: inline-block;
      visibility: hidden;
      overflow: hidden;
      width: 100%;
      height: 0;
      content: '';
    }

    .box {
      font-size: 14px;
      line-height: normal;
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 32.2%;
      max-width: 520px;
      height: 280px;
      margin: 0 0 16px 0;
      padding: 22px 28px;
      vertical-align: top;
      border: 1px solid #bfbfbf;
      border-radius: 5px;
      background: transparent url('./images/box_image.png');
      background-size: cover;

      .backbox {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        padding: 22px 28px;
        background-color: rgba(0, 0, 0, 0.70);

        .tit {
          float: left;
          color: #ffffff;
        }

        .theme {
          font-size: 16px;
          float: left;
          clear: both;
          color: #a6a6a6;
        }

        .txt {
          font-size: 14px;
          line-height: 1.2;
          float: left;
          margin: 20px 0 0 0;
          color: #ffffff;
        }

        a {
          font-size: 15px;
          position: absolute;
          bottom: 20px;
          left: 50%;
          display: block;
          width: 108px;
          height: 36px;
          margin-left: -54px;
          padding: 6px 0 0 0;
          transition: 0.2s all;
          -webkit-transition: 0.2s all;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          border: 1px solid #ffd940;
          border-radius: 40px;

          &:hover {
            color: #ffd940;
          }
        }
      }

      .price {
        font-size: 16px;
        float: right;
        padding: 0;
        color: #ffffff;

        span {
          color: #ffd940;
        }
      }

      .graybg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(42, 42, 42, 0.3);
      }

      .tit {
        width: 80%;
        font-weight: 400;
        position: relative;
        color: #ffffff;
        line-height: 1.6em;
      }

      .discount {
        font-size: 12px;
        position: relative;
        float: left;
        width: 109px;
        height: 19px;
        margin: 10px 0 0 0;
        text-align: center;
        color: #000000;
        border-radius: 4px;
        background-color: #ffd940;
      }

      .procent {
        font-size: 18px;
        font-weight: 400;
        position: relative;
        float: left;
        margin: 7px 0 0 7px;
        color: #ffffff;
      }

      .info {
        position: absolute;
        bottom: 15px;
        left: 20px;

        span {
          font-size: 11px;
          display: block;
          padding: 3px 0 3px 25px;
          color: #ffffff;

          &.time {
            background: url('./images/info_time.png') no-repeat 0 50%;
          }

          &.player {
            background: url('./images/info_player.png') no-repeat 0 50%;
          }

          &.metro {
            background: url('./images/info_metro.png') no-repeat 0 50%;
          }
        }
      }

      .likebox {
        position: absolute;
        right: 20px;
        bottom: 25px;
        //display: none;
        width: 62.8%;
        max-width: 220px;

        .countlike {
          font-size: 12px;
          float: left;
          margin: 0 0 0 20px;
          padding: 0 0 0 22px;
          color: #ffffff;
          background: url('./images/likebox_count.png') no-repeat 0 20%;
        }

        .likepercent {
          font-size: 12px;
          float: right;
          margin: 0 20px 0 0;
          color: #ffffff;
        }

        .bot {
          .minus {
            float: left;
            width: 11px;
            height: 11px;
            cursor: pointer;
            background: url('./images/likebox_minus.png');
          }

          .scale {
            float: left;
            overflow: hidden;
            width: 84%;
            height: 4px;
            margin: 5px 0 0 3%;
            border-radius: 10px;
            background-color: #866b00;

            .good {
              width: 83%;
              height: 100%;
              background-color: #ffd940;
            }
          }

          .plus {
            float: right;
            width: 11px;
            height: 11px;
            cursor: pointer;
            background: url('./images/likebox_plus.png');
          }
        }
      }
    }

    &--loading {
      .loading {
        display: block;
      }

      .box {
        opacity: 0.3;
      }
    }

    &--notfound {
      .notfound {
        display: table;
      }

      .box {
        opacity: 0.3;
      }
    }
  }

  .loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 440px;
    margin: 0;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      font-size: 28px;
      display: inline-block;
      margin: 0 0 0 40px;
      vertical-align: middle;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1900px) {
  .right_content .quests .box .price {
    font-size: 15px;
  }

  .right_content .quests .box .backbox .theme {
    font-size: 15px;
  }

  .right_content .quests .box .backbox .txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 1774px) {
  .right_content .quests .box .price {
    line-height: 23px;
    font-size: 14px;
    font-weight: 300;
  }

  .right_content .quests .box .backbox .theme {
    font-size: 14px;
    font-weight: 300;
  }

  .right_content .quests .box .backbox .txt {
    font-size: 13px;
    font-weight: 300;
  }
}

@media screen and (max-width: 1750px) {
  .right_content .quests .box .price {
    padding: 0;
  }
}

@media screen and (max-width: 1442px) {
  .right_content .quests .box .price {
    line-height: 27px;
    font-size: 16px;
    font-weight: 400;
  }

  .right_content .quests .box .backbox .theme {
    font-size: 16px;
    font-weight: 400;
  }

  .right_content .quests .box .backbox .txt {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1395px) {
  .right_content .quests .box .price {
    font-size: 15px;
  }

  .right_content .quests .box .backbox .theme {
    font-size: 15px;
  }

  .right_content .quests .box .backbox .txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 1250px) {
  .right_content .quests .box .price {
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
  }

  .right_content .quests .box .backbox .theme {
    font-size: 14px;
    font-weight: 300;
  }

  .right_content .quests .box .backbox .txt {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 1170px) {
  .right_content .quests .box .info {
    // @TODO: get rid of these `important`
    bottom: 8px !important;
    left: 10px !important;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
  }

  .right_content .quests .box .discount,
  .right_content .quests .box .procent {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
  }

  .right_content .quests .box .likebox {
    bottom: 18px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
  }

  .right_content .quests .box,
  .right_content .quests .box .backbox {
    padding: 18px;
  }

  .right_content .quests .box .procent {
    margin: 5px 0 0 -15px;
  }
}
