.main {
  display: flex;
  margin: auto;
  max-width: 800px;

  //position: relative;
  //float: left;
  //width: 314px;
  //height: auto;
  //margin: 0 auto;
  padding: 15px 0;
  border-radius: 10px;
  background-color: #302c2c;
}
