.main {
  height: auto;
}

.images {
  position: relative;

  img {
    display: none;

    &.active {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.controls {
  position: relative;
}

.next {
  position: absolute;
  bottom: 45px;
  right: 70px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  transition: 0.2s all;
  opacity: 0.7;
  background-image: url('./images/next.png');

  &:hover {
    opacity: 1;
  }
}

.prev {
  position: absolute;
  bottom: 45px;
  left: 70px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  transition: 0.2s all;
  opacity: 0.7;
  background-image: url('./images/prev.png');

  &:hover {
    opacity: 1;
  }
}
