.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  min-height: 90px;
  min-width: 250px; // @TODO: extract to some global `min-width`
  margin: 0 auto;
  padding: 0 15px;
  background-color: #131313;
}

.copyright {
  font-size: 14px;
  color: #46464e;
}

.support {
  margin: 20px;
  font-size: 14px;
  color: #46464e;

  a {
    font-size: 14px;
    color: #46464e;
  }
}

.socialButtons {
  margin: 10px 0;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    margin: 5px 10px;
  }
}
