//noinspection CssInvalidAtRule
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: #848484;

  &:hover {
    color: #ffd940;
  }
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  display: block;
  padding: 0 0 5px 0;
  margin: 25px 0 25px 30px;
  color: #ffffff;
  background: url('./components/App/images/headerUnderline.png') no-repeat 0 100%;
}

// hiding Google ReCaptcha badge
.grecaptcha-badge {
  visibility: hidden;
}
