.main {
  width: 246px;
  color: #fff;
  margin: 40px 20px 20px;
}

.header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 14px;
  display: block;
  text-shadow: 0 2px 4px #000;
}

.title,
.phone,
.metro,
.address {
  font-size: 13px;
  margin: 13px 0 0 0;
  padding: 0 0 0 23px;
  text-shadow: 0 2px 4px #000;

  a {
    color: white;
    &:hover {
      color: #ffd940;
    }
  }
}

.title {
  background: url('./images/info_website.png') no-repeat 0 50%;
}

.phone {
  background: url('./images/info_phone.png') no-repeat 3px 50%;
}

.metro {
  background: url('./images/info_metro.png') no-repeat 0 50%;
}

.address {
  background: url('./images/info_address.png') no-repeat 0 50%;
}
