.main {
  display: flex;
  margin: 17px 40px 0 0;
}

.image {
  width: 113px;
  height: 105px;
  cursor: pointer;
  background: url('images/logo.png') center top no-repeat;

  &:hover {
    background-position: center -105px;
  }

  &:active {
    background-position: center -210px;
  }
}

.text {
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
}

.textItem {
  display: block;
  margin-top: 35px;
  font-size: 13px;
  line-height: 1.1;
  color: #ffffff;

  span {
    font-size: 17px;
    display: block
  }
}

.socialButtons {
  padding-top: 14px;
}

@media screen and (max-width: 880px) {
  .text {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .main {
    display: none;
  }
}
